<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href ="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
</head>
<body>

<nav th:fragment="header">
    <h1 th:text="${title}">Coding Events</h1>
    <ul>
        <li><a href="/events">All Events</a></li>
        <li><a href="/events/create">Create Event</a></li>
    </ul>

</nav>
</body>
</html>